.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftSection {
  display: flex;
  gap: 20px;
}

.link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;  /* Синий цвет фона */
  color: white;  /* Белый текст */
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;  /* Закругленные углы */
  transition: background-color 0.3s ease;
}

.link:hover,
.link.active {
  background-color: #0056b3;  /* Темно-синий цвет при наведении */
  text-decoration: none;  /* Убираем подчеркивание */
}

.rightSection {
  display: flex;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 10px;
}

.loginButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;  /* Увеличиваем размер для лучшего восприятия */
  border-radius: 5px;  /* Закругленные углы */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #0056b3;
}

.description {
  clear: both;
  margin-top: 10px;
}

.copy {
  color: #888;
}
